<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.webgenium.sinae">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".FrameActivity"
            android:label="Frames"
            android:parentActivityName=".AnaliseActivity"
            android:theme="@style/AlphaActionBar" />
        <activity
            android:name=".AnaliseActivity"
            android:label="Analise"
            android:parentActivityName=".ExperimentoActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ExperimentoActivity"
            android:label="Experimento"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".NovaAnaliseVideoActivity"
            android:label="Vídeo da Análise"
            android:parentActivityName=".NovaAnaliseActivity"/>
        <activity
            android:name=".NovaAnaliseActivity"
            android:label="Nova Análise"
            android:parentActivityName=".ExperimentoActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".NovoExperimentoActivity"
            android:label="Novo Experimento"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConfiguracoesActivity"
            android:label="Configurações"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".MainActivity"
            android:label="Experimentos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>